*{
	margin: 0px;
	padding: 0px;
}
body{
	font: 12px/18px "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	overflow: hidden;
	color: #555;
}
#film{
	position: absolute;
	top: -20px;
}
button{
	border-radius: 4px;
	cursor: pointer;
	font-size: 15px;
	padding: 6px;
	margin: 3px;
	background: rgb(141, 186, 40);
	box-shadow: 2px 2px 1px #2f7c2f;
	color: #fff;
}
.bg{
	background-color: #eee;
	opacity: 0.4;
	width: 100%;
	height: 100%;
	border: 7px solid #FFF;
	border-radius: 50px;
}
#loading{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: ;
	background:#FFF url('../images/loading.gif') 50% 50% no-repeat;
	text-align: center;
}
#mask0{
	font-size: 18px;
	line-height: 27px;
	width: 780px;
	height: 350px;
	position: absolute;
	top: 148px;
	left: 50%;
	margin-left: -390px;
	text-align: center;
}
#mask0 p{
	display: none;
	opacity: 0;
}
#mask0 button{
	display: none;
	opacity: 0;
}
#mask1{
	width: 360px;
	height: 210px;
	position: absolute;
	top: 30px;
	left: 100px;
	opacity: 0;
	display: none;
}
#mask1 .content{
	position: absolute;
	top: 25px;
	left: 43px;
	width: 330px;
	color: #666;
	line-height: 30px;
	font-size: 18px;
}
#mask1 .content .btns{
	margin: 4px 0px;
}
#mask1 .content .btns p{
	display: inline;
}
#mask2{
	width: 360px;
	height: 210px;
	position: absolute;
	top: 30px;
	left: 100px;
	opacity: 0;
	display: none;
}
#mask2 .content{
	position: absolute;
	top: 25px;
	left: 43px;
	width: 330px;
	color: #666;
	line-height: 30px;
	font-size: 18px;
}
#mask2 .content .btns{
	margin: 4px 0px;
}
#mask3{
	width: 360px;
	height: 210px;
	position: absolute;
	top: 30px;
	left: 100px;
	opacity: 0;
	display: none;
}
#mask3 .content{
	position: absolute;
	top: 25px;
	left: 43px;
	width: 330px;
	color: #666;
	line-height: 30px;
	font-size: 18px;
}
#mask3 .content .btns{
	margin: 4px 0px;
}
#mask3 .content .btns .select{
	left:200px;
}
#subscibe{
	position: absolute;
	top: 30px;
	left: 13530px;
	width: 850px;
	height: 610px;
	overflow: hidden;
}
#subscibe .content{
	width: 666px;
	margin: 100px auto 0px auto;
	height: 100%;
	text-align: center;
	position: relative;
}
#subscibe .content .title{
	font-size: 35px;
	font-weight: 600;
	margin: 5px;
	margin-bottom: 20px;
}
#subscibe .content .word{
	font-size: 20px;
	line-height: 25px;
	color: #666;
}
#subscibe .content .word .userTimeLength{
	color: #000;
}
#subscibe .content .videos{
	float: left;
	width: 100%;
	margin-top: 30px;
	border: 2px solid #000;
	padding: 10px 5px;
	border-radius: 5px;
	background-color: #FFF;
}
#subscibe .content .videos .video-photo{
	width: 123px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
	position: relative;
}
#subscibe .content .videos .video-photo dl dt{
	height: 177px;
	overflow: hidden;
}
#subscibe .content .videos .video-photo dl dd{
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	height: 25px;
	width: 124px;
	text-overflow: ellipsis;
}
#subscibe .content .videos .video-photo .mask-sel{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	width: 100%;
	cursor: default;
	height: 177px;
	display: none;
	background:#000 url('../images/subscibe/selected.png') 50% 50% no-repeat;
}
#subscibe .content .userTimeLength{
	color: #92c238;
}
#subscibe .content .ok{
	position: absolute;
	top: 460px;
	left: 50%;
	width: 160px;
	margin-left: -80px;
}
#subscibe .btn-left{
	background-image: url('../images/subscibe/left.png');
	width:39px;
	height: 45px;
	position: absolute;
	left: -60px;
	top: 260px;
	cursor: pointer;
}
#subscibe .btn-right{
	background-image: url('../images/subscibe/right.png');
	width: 39px;
	height: 45px;
	position: absolute;
	right: -75px;
	top: 260px;
	cursor: pointer;
}
#weibo{
	position: absolute;
	top: 0px;
	left: 15010px;
	width: 800px;
	height: 620px;
	overflow: hidden;
}
#weibo .content{
	text-align: center;
	width: 330px;
	height: 140px;
	font-size: 18px;
	margin: 260px auto 0px auto;
	line-height: 30px;
}
#weibo .content .btns{
	margin-top: 30px;
	display: none;
	opacity: 0;
}
#weibo .content .btns a{
	overflow: hidden;
	display: inline-block;
}
#weibo .content p{
	display: none;
	opacity: 0;
}
#weibo .content .btns button{
	width: 130px;
}

#end{
	width: 1365px;
	height: 772px;
	overflow: hidden;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -682px;
	margin-top: -386px;
	display: none;
	opacity: 0;
}
#end .content{
	width: 790px;
	height: 100%;
	margin: 0px auto;
	position: relative;	
}
#end .content .books{
	background-image: url('../images/end/book.png');
	position: absolute;
	width: 402px;
	height: 249px;
	top: 320px;
	left: 320px;
}
#end .content .TV{
	background-image: url('../images/end/TV.png');
	position: absolute;
	width: 174px;
	height: 187px;
	top: 135px;
	left: 420px;
}
#end .content .tip{
	background-image: url('../images/end/tip.png');
	position: absolute;
	right: -140px;
	top: 70px;
	width: 194px;
	height: 194px;
}
#end .content .btn-back{
	position: absolute;
	bottom: 80px;
	left: 190px;
}
#end .content .btn-back button{
	background-image: url('../images/end/btn-back.png');
	cursor: pointer;
	width: 380px;
	height: 93px;
	border-radius: 24px;
}
#end .content .words{
	width: 300px;
	height: 160px;
	position: relative;
	top: 50px;
}
#end .content .words p{
	position: absolute;
	top:0px;
	left: 0px;
	font-size: 17px;
	color: #fefefe;
	margin: 20px 15px 0px 25px;
	line-height: 25px;
}
#background-sprite{
	background:url('../images/bg-repeat.png') 0% 96% repeat-x;
}